# ------------------------------
# Fichiers projet Eclipse / STM32CubeIDE
# ------------------------------
# Garde les fichiers de configuration
# .project, .cproject, .mxproject, .settings/ ne sont pas ignorés
# .ioc permet de conserver la configuration CubeMX

# ------------------------------
# Dossiers de build / compilations
# ------------------------------
Debug/
Release/
Build/

# ------------------------------
# Fichiers objets / exécutables / binaires
# ------------------------------
*.o
*.elf
*.axf
*.map
*.bin
*.hex
*.lst
*.d

# ------------------------------
# Fichiers temporaires / logs
# ------------------------------
*.log
*.tmp
*.bak
*~
*.swp
*.swo

# ------------------------------
# Fichiers temporaires CubeMX
# ------------------------------
*.ioc.bak
*.h.gch
